@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

html{
    box-sizing:border-box;
    font-size: 62.5%; /* 1 rem = 10px*/
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

*, *:before, *:after{
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Unbounded', cursive;
    font-size: 1.6rem;
    line-height: 2;
    background: #232526;  
    background: -webkit-linear-gradient(to top, #414345, #232526);
    background: linear-gradient(to top, #414345, #232526); 
    background-repeat: no-repeat;    
    overflow-x: hidden;
    position: relative;
}

:root{
    --color-1: #001f3d;
    --color-2: #045174;
    --color-3: #323b4c;
    --color-3-variant:rgba(50, 59, 76, 0.5);
    --color-4: #e87a00;
    --color-4-variant: rgba(232, 124, 0, 0.552);
    --color-5: #f8dcbf;
    --color-6: rgba(255,255,255,0.9);
    --border-radius: 1.5rem;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    /* height: auto; */
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}
button {
    border: none;
    background-color: transparent;
}  
input:focus, textarea:focus, select:focus {
    outline: none;
}
input[type="text"],
input[type="email"],
textarea {
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 1005;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
}
textarea{
    font-family: inherit;
    resize: none;
}
p.success {
	color: green;
}
p.danger {
	color: red;
}

/* ========================================================login */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}  
.card__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__login h1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 4rem 0 ;
    padding-top: 3rem;
}

.sp{
    color: var(--color-5);
}
.sp1{
    color: var(--color-5);
}

.card__login h2{
    color: var(--color-4-variant);
    font-size: 3rem;
    margin-bottom: 7rem;
}
.card__login button{
    display:inline-block;
    padding:0.5em 3em;
    margin:0 0.3em;
    text-decoration:none;
    font-weight:400;
    font-size: 1.5rem;
    color: var(--color-5);
    text-align:center;
    transition: all 0.15s;
    background: transparent;
}

/* ========================================================Navbar */
.nav__container{
    width: 100%;
    position: relative;
}

nav {    
    width: max-content;
    position: fixed;
    left: 25%;
    /* transform: translateX(-75%); */
    display: flex; 
    flex-direction: row; 
    text-align: center;
    z-index: 90;
    bottom: 2%;
    padding: 0.8rem 1.5rem;
    gap: 0 1.5rem;
    border-radius: var(--border-radius);
    font-size: 2.7rem;
    color: var(--color-5);
    background-color: var(--color-3);
    backdrop-filter: blur(85px); 
    backdrop-filter: color var(--color-1); 
}


/* ========================================================header */
header{
    background: linear-gradient(to top, #D7DDE8, #757F9A); 
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-top: 5rem;
    margin-top: 2rem;
}
.header__son{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.img__logo{
   display: inline-block;
   position: absolute; 
   left: 1%;
   top: 2%;
}
.header__logout{
    display:inline-block;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    font-size: 1.5rem;
    color: var(--color-5);
    text-align:center;
    transition: all 0.75s;
    background: transparent;  
    position: absolute;
    right: 1%;
    top:2%;
    z-index: 100;
}
.header__logout:hover{
    color: var(--color-5);  
    transform: scale(1.3);
    transition: all 0.75s;
}

.header__container{
    color: var(--color-6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem 1fr;
    margin: 0;
    margin-top: 7.5rem;
    margin-bottom: 3rem;
    padding: 3rem 2rem;
    border-radius: var(--border-radius);  
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: linear-gradient( to left, #000000 8%, #434343 70%, transparent 45%), url(../assets/img_header1.png);    
    background-size: 100%, 90rem;
    background-position: center, 47% 30%;
    background-repeat: no-repeat;
}
@media (min-width:768px) {
    .header__container{
        background-size: 100%, 90rem;
        background-position: center, 0% 30%;
    }

}

.header__content{
    grid-column: 2/4;
    text-align: center;
}

.header__content__fs h1{
    font-family: 500;
    font-size: 4rem;
}
.header__wrap {
    font-size: 3rem;
    font-weight: 500;
    color: rgba(232, 124, 0, 0.75);
}
.header__text_container{
    grid-column: 2/4;    
}
.header__text{
    text-align: justify;
    font-weight: 600;
    text-shadow: .2rem .2rem 2rem rgba(255,255,255,0.3);
    color: var(--color-5); 
    font-size: 1.3rem;
}

/* ========================================================Social */
.header__social__container{
    position: absolute;
    right: calc(50% - 15rem);
    top: 6%;
    width: 30rem;
}
.social__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.social__container a {
    color: var(--color-3);
    font-size: 2.3rem;
}
.social__container a:hover{
    color: var(--color-5);
    background-color: transparent;  

}
.social__container::before { 
    content: '';
    width: 5rem;
    height: 1px;
    background: var(--color-3);
    margin: 0 1rem;
    text-align: center;
}
.social__container::after { 
    content: '';
    width: 5rem;
    height: 1px;
    background: var(--color-3);
    margin: 0 1rem;
    text-align: center;
}

/* ========================================================Download */
.cv__container {
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.cv__container_wrapper a{
    display: flex;
    justify-content: center;
    width: auto;
    height: 7rem;
    padding: 0 1rem;
    border: 1px solid var(--color-3-variant);
    border-radius: 7px;
    transition: all .75s;
    font-size: 3.5rem;    
    text-align: center;
    background: #e87c0065;
    color: var(--color-1);
    text-decoration: none;
    z-index: 1000;
}
.cv__container_wrapper a:hover{
    width: auto;
    transition: all .35s;
    background: #e87a00;
}

/* ========================================================About Page */
.about{
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline:auto;
    background: linear-gradient(to top, #434343, #000000); 
    height: 100%;
}
.about__container{
    width: 90%;
    margin: 5rem 0;
    margin-inline: auto;
    display: grid;
    background: linear-gradient(to top, #D7DDE8, #757F9A); 
    border-radius: var(--border-radius);
}
.about__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: var(--border-radius);
    padding: 2rem 3rem;
    column-gap: 2rem;
}
.about__cards{
    display: grid;
    align-items: center;
    justify-items: center;
}
.education__article{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    transition: all ease-in 0.85;
}
.about__card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: all .85s;
    text-decoration: none;
    color: var(--color-1);
    background-color: transparent; 
    border: none;
}
.about__card h2 {
    margin: 0 2rem;
}
.about__card:hover{
    width: 15.5rem;
    transition: all .35s;
    background-color: var(--background-dark);
    color: var(--color-4);
}
.about__cards p {
    text-align:justify;
    font-size: 1.6rem;
    margin: 2rem 1rem 0 1rem;
}
@media (min-width:768px) {
    .about__cards p {
        text-align:justify;
        font-size: 2.5rem;
    }
}
.about__img{
    height: auto;
    display: grid;
    place-items: start;
    background: linear-gradient( transparent, var(#262626) );
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: linear-gradient(to top, #434343, #000000); 
    border-radius: var(--border-radius);
    padding: 0.3rem;
    margin: 0 0.5rem;
}
.about__img img{
    object-fit: cover;
    border-radius: var(--border-radius);
}
.container__button{
    width : 100% ;
    margin-top: 3rem;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center;
}
.button{
    position : relative ;
    z-index : 30;
    width : 24rem ;
    height : 5.6rem ;
    text-decoration : none ;
    font-size : 1.4rem ; 
    font-weight : bold ;
    color : var(--color-3-variant) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 4px ;
    border-radius : 4px solid;
    transition : all .5s ease ;
    background : var(--color-3-variant) ;
}
.button::before{
    top : .5 ;
    left : 5.6rem ;
    width : calc( 100% - 5.4rem * 2 - 1.6rem ) ;
}
.button::after{
    top : 0 ;
    right : 5.6rem ;
    width : .8rem ;
}
.button__text::before{
    bottom : 0 ;
    right : 5.6rem ;
    width : calc( 100% - 5.4rem * 2 - 1.6rem ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 5.6rem ;
    width : .5rem ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 5.6rem ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 30rem ;
    border : solid 4px var(--color-3-variant) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
    
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : .5rem ;
    color: var(--color-1);
}
.button:hover::before,
.button:hover .button__text::before{
    width : .8rem ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 5.6rem * 2 - 1.6rem ) ;
}

/* ========================================================Education */
.education__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
.education__container h2{
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
    color: var(--color-5);
}
.container__son{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.education__container__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 5rem;
    height: auto;
    margin: 2rem auto; 
}
@media (min-width:768px) {
    .education__container__grid{
        grid-template-columns:unset;
        grid-template-columns: repeat(3, 1fr)
    }
}
.education__card {
    width: 30rem;    
    height: 45rem;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: linear-gradient(to top, #434343, #000000); 
    border-radius: var(--border-radius);    
}
@media (min-width:768px) {
    .education__card{
        width: 30rem;    
        height: 45rem;
    }
}
.education__image {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.education__image img{
    border-radius: var(--border-radius);
}
.education__card:hover .education__image img {
    opacity: .5;
    overflow-x: hidden;
    border: none;
}
.education__card .details {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.education__card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.center {
    margin: 0 auto;
    padding:0 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center h1 {
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
    color: var(--color-1);
    line-height: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}
.center h1 span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #262626;
}
.center a {
    margin: 1rem 0;  
    padding: 0.5rem;
    color: var(--color-3);
    text-decoration: none;
}
.center ul {
    margin: 0.5rem auto;
    padding: 0;
    display: table;
}
.center ul li {
    list-style: none;
    float: left;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0;
    color: rgb(255, 255, 255);
}
.center ul li:hover {
    transform: scale(1.5);
}

/* education card --- css icon hover */
 .center ul li:hover.jira {
    color: rgba(25, 99, 209, 0.9);
 }
 .center ul li:hover.trello {
    color: rgba(2, 106, 167, 0.9);
 }
 .center ul li:hover.postman {
    color: rgba(255, 108, 55, 0.9);
 }

 .center ul li:hover.html {
    color: rgba(255, 0, 0, .7);
 }
 .center ul li:hover.css {
    color: rgba(0, 13, 255, .7);
 }
 .center ul li:hover.js {
    color: rgba(0, 0, 0, 0.9);
 }
 .center ul li:hover.bst {
    color:#7734F9;
 }
 .center ul li:hover.github {
    color: rgba(0, 0, 0, 0.9);
 }
 .center ul li:hover.angular {
    color: #DE002D;
 }
 .center ul li:hover.java {
    color: #5786A5;
 }
 .center ul li:hover.spb {
    color:#6CAE3E;
 }
 .center ul li:hover.mysql {
    color:#2C6580;
 }
 .center ul li:hover.react {
    color:#61DBFB;
 }
 .center ul li:hover.oracle {
    color:#F00000;
 }
 .center ul li:hover.postgre {
    color:#315C8A;
 }
 .center ul li:hover.angm {
    color:#3F51B5;
}

/* extra css for each card */
.details__mindhub{
background: #C04848;  
background: -webkit-linear-gradient(to bottom, #480048, #C04848);  
background: linear-gradient(to bottom, #480048, #C04848); 
}

.details__coderhouse{
background: #CAC531;  
background: -webkit-linear-gradient(to top, #E8FF3C,#CAC531);  
background: linear-gradient(to top, #E8FF3C,#CAC531); 
}
.details__ap{
background: #FDC830;  
background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  
background: linear-gradient(to bottom, #F37335, #FDC830); 
}

.details__egg{
background: #FFCF01;  
background: -webkit-linear-gradient(to top,  #CAC531, #FFCF01);  
background: linear-gradient(to top, #CAC531, #FFCF01); 
}

.details__utn{
background: #36D1DC;  
background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  
background: linear-gradient(to bottom, #5B86E5, #36D1DC); 
}
.details__udemy{
background: #7F00FF;  
background: -webkit-linear-gradient(to top, #E100FF, #7F00FF);  
background: linear-gradient(to top, #E100FF, #7F00FF); 
}


/* ========================================================Project Page CSS  */ 
.projects__container{
    background: linear-gradient(to top, #D7DDE8, #757F9A); 
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
}
.projects__container h2{
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
    color: var(--color-3);
}
.project__son{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}
.card__grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin: 5rem auto; 
}
@media (min-width:768px) {
    .card__grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
.card{
    list-style: none;
    position: relative;
    border: none;
}  
.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    padding: 75% 0;
    max-width: 100%;
}
  
.card__background{
    background-size:cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: var(--border-radius);
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
        filter 200ms linear,
        transform 200ms linear;
}
.card__background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: none;
}
.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}
.card__grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(5px);
}
.card__content{
    left: 5rem;
    padding: 4rem;
    position: absolute;
    top: 0;
}
.card__category{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-5);
    margin: 0;  
    padding: 0;
    position:absolute;
    left: 0;
    width: 200%;
}
.card__heading{
    color: var(--color-6);
    font-size: 1.6rem;
    text-shadow: .2rem .2rem 2rem rgba(0,0,0,0.5);
    line-height: 1.4;
    word-spacing: 100vw;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 0 200%;
}
.modal__body p{
    font-size: 1.5rem;
}

/* ========================================================Contact Page */
.contact__container{
    width: 100%;
    max-width: 1280px;
    background: linear-gradient(to top, #D7DDE8, #757F9A); 
    margin-inline: auto;
    margin-bottom:11rem;
}
.contact__son{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
}
.contact__grid{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    border-radius: var(--border-radius);
    background-color: transparent;
    background-color: var(--color-5);
    margin: 5rem; 
}
@media (min-width: 768px) {
    .contact__grid{
        grid-template-columns: repeat(1, 2fr 1fr);  
    }
  }
.contact__img{
    border-radius: 3rem 0 0 3rem ;
    background-image: url(../assets/contact_us.jpg);    
    background-position: 50%;
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 0 auto;
    border-radius: 0 1.5rem 1.5rem 0;
}
.contact__form{
    border-radius: 0 3rem 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin: 0 2rem;
}
.contact__container h2 {
    font-size: 3.5rem;
	font-weight: 700;
    margin: 1.5rem 0;
    color: var(--color-1);
}
/* .contact__container form, */
.contact__container form input, 
.contact__container form textarea,
.contact__container form button
 {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    color: var(--color-1);
    margin: 0 0 8px 0;
    padding: 1.8rem 2.6rem;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.8px;
    transition: 0.85s ease-in-out;
}

.contact__container form input:focus, .contact__container form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .contact__container form input::placeholder, .contact__container form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-1);
  }
  .contact__container form input:focus::placeholder, .contact__container form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .contact__container form button {
    font-weight: 700;
    color: var(--color-4);
    background-color: transparent#fff;
    padding: 1.4rem 4.8rem;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    transition: 0.5s ease-in-out;
  }
  .contact__container form button:hover {
    color:var(--color-1);
  }
  .contact__container form button::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.5s ease-in-out;
    
  }
  .contact__container form button:hover::before {
    width: 100%;
  } 











